.container_buttons{
    width: 100%;
    height: auto;
    display: flex;
    justify-content: center;
    margin-bottom: 50px;
}
.list_article{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}
.container_pagination{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 150px;
}