.container_buttons{
    width: 100%;
    height: auto;
    display: flex;
    justify-content: center;
}
.list_article{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}
.container_pagination{
    display: flex;
    justify-content: center;
}